/* HOmescreen Header*/
.container {
    margin-top: 5px;
    width: 1880px;
}

.containers {
    height: 170px;
    width: 210px;
    text-align: center;
    display: inline-block;
    margin-right: 49px;
}

.containers img:hover {
    cursor: pointer;
    ;

}

.containers img {
    height: 115px;
    width: 115px;
}

.heading-primary {
    font-weight: bolder;
    font-size: 20px;
}

.container2 img {

    display: block;
    margin: 0px auto;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-list {
    width: 100%;
    display: block;
    margin: 0px auto;
}

.product {
    text-align: center;
    margin-left: 100px;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 50px;
    display: inline-block;
    height: 18rem;
    width: 18rem;
    border: 1px solid rgb(185, 195, 204);
    border-radius: 5px;
}

.product img {
    width: 170px;
    height: 200px;
}

.product h2 {
    text-align: center;
    font-size: 21px;
}

.product p {
    text-align: center;
    font-size: 15px;
}