/*Navbar CSS*/



.navbar-custom {
  height: 4rem;
}

nav img {

  height: 60px;
  width: 60px;
  border-radius: 50px;

}

.customsearchbox {
  width: 500px;
  border: 1px solid white;
  border-radius: 0px;


}

.custombtn {
  position: relative;
  width: 100px;
  right: 10px;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 0px;
}

.navcustom {
  margin: 0px 20px;
  font-size: 26px;
  color: white;
}